@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700|Raleway:400,700');

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

body {
    font-family: 'Raleway', sans-serif;
}

.container  {
    padding: 15px;
    width: 600px;
    margin: 40px auto;
}
